HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secrets ###
*.tfvars
*.tfstate
*.tfstate.backup
*.pub
src/main/resources/application.properties
src/main/resources/application-dev.properties
src/main/resources/localhost.p12
src/main/terraform/mtg_deck_builder_ec2
src/main/terraform/.terraform.lock.hcl
src/main/terraform/.terraform.tfstate.lock.info
src/main/terraform/.terraform
*.DS_Store